html {
  height: 100%;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
}

#video-container {
  position: absolute;
  min-width: 640px;
  min-height: 480px;
  display: block;
  vertical-align: middle;
  margin: 0 auto;
  border: 0;
}

#footerbar {
  position: absolute;
  height: 1.8%;
  line-height: 1.8%;
  width: 100%;
  bottom: 0%;
  left: 0%;
  color: white;
}

#telemetry {
  position: relative;
  float: left;
}

#tiltstatus {
  position: absolute;
  height:32px;
  width: 32px;
  right: 0;
  bottom: 0;
  background-image: url(../img/video_camera_small.png);
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
}

#tiltstatus.up {
  -webkit-transform: rotate(-45deg);
}

#tiltstatus.down {
  -webkit-transform: rotate(45deg);
}

.lightstatus {
  position: absolute;
  height:32px;
  width: 32px;
  right: 42px;
  bottom: 0;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

#lightoff {background-image: url(../img/light_bulb_off.png);}
#lighton {background-image: url(../img/light_bulb_on.png);}
#lighton.full {opacity: 1;}
#lighton.half {opacity: 0.5;}
#lighton.off {opacity: 0;}

@-webkit-keyframes forward_anim {
    0% { -webkit-transform:rotate(0deg); } 
    100% { -webkit-transform:rotate(360deg); } 
}

@-webkit-keyframes reverse_anim {
    0% { -webkit-transform:rotate(0deg); } 
    100% { -webkit-transform:rotate(-360deg); } 
}

.motor {
  position: absolute;
  height:32px;
  width: 32px;
  bottom: 0;
  background-image: url(../img/screw.png);
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  margin-bottom: 10px;
}
.motor.forward {
  background-image: url(../img/screwfwd.png);
  -webkit-animation: forward_anim 1s linear 0s infinite;
}
.motor.reverse {
  background-image: url(../img/screwrvs.png);
  -webkit-animation: reverse_anim 1s linear 0s infinite;
}

#starmotor {right: 84px;}
#vertmotor {right: 126px;}
#portmotor {right: 168px;}

.tkey {
  text-transform: uppercase;
  color: blue;
}
