html {
  height: 100%;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
}

#video-container {
  position: absolute;
  min-width: 640px;
  min-height: 480px;
  display: block;
  vertical-align: middle;
  margin: 0 auto;
  border: 0;
}

#footerbar {
  position: absolute;
  height: 1.8%;
  line-height: 1.8%;
  width: 100%;
  bottom: 0%;
  left: 0%;
  color: white;
}

#telemetry {
  position: relative;
  float: left;
}

#tiltstatus {
  position: absolute;
  height:32px;
  width: 32px;
  right: 0;
  bottom: 0;
  background-image: url(../img/video_camera_small.png);
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
}

#tiltstatus.up {
  -webkit-transform: rotate(-45deg);
}

#tiltstatus.down {
  -webkit-transform: rotate(45deg);
}

.tkey {
  text-transform: uppercase;
  color: blue;
}
